@model IEnumerable<ECommerceWeb.Models.FavoriteItem>
@{
    ViewData["Title"] = "My Favorites";
}
<h2>My Favorites</h2>
<table class="table">
    <thead>
        <tr><th>Product</th></tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr><td>@item.ProductName</td></tr>
        }
    </tbody>
</table>